@(blog: Blog, history: List[BlogEntry], moodForm:Form[BlogEntry], message:String)

@import helper._


@main(showAddThis=true) {
	
	<script type="text/javascript">$.localtime.setFormat("dd/MM HH:mm");</script>
	
	<div id="content" class="wrapper doc">
	
	<article>
	
		<h2>@blog.label</h2>
		<p>What is your mood now ?
		<small>	(1. make a short description and 2. click emoticon relevant to your mood)</small>
		</p>		
		<div id="moods">
		@form(routes.Application.addStatus(blog.privateLink), 'id->"MOOD_FORM") {
			@inputText( moodForm("notes"), '_label->"Any comments (e.g. the reason) ?", 'size->63, '_showErrors->true, '_showConstraints->true )
			<input type="hidden" id="HIDDEN_MOOD_INPUT" name="CHOOSEN_MOOD" val=""/>			
			@defining(moodForm("mood")) { moodField =>
  				<input type="hidden" name="@moodField.name" id="moodField" value="@moodField.value">
			}
		}
		

		<a href="#" class="MOOD_OPTION" value="happy">
			<img src="@routes.Assets.at("images/face-happy.jpg")" alt="happy" width=150px />
		</a>		
		<a href="#" class="MOOD_OPTION" value="normal">
			<img src="@routes.Assets.at("images/face-neutral.jpg")" alt="normal" width=150px />
		</a>
		<a href="#" class="MOOD_OPTION" value="sad">
			<img src="@routes.Assets.at("images/face-sad.jpg")" alt="sad" width=150px />
		</a>
		<a href="#" class="MOOD_OPTION" value="angry">		
			<img src="@routes.Assets.at("images/face-angry.jpg")" alt="angry" width=150px />
		</a>
		</div>

	@if(! history.isEmpty() ) {
		<h3>Recently recorded emotions:</h3>		
		@for(entry <- history) {
			<p class="blogHistory">
			@if(entry.mood == models.Mood.ANGRY) { 
			<image src="@routes.Assets.at("images/face-angry-small.jpg")" alt="angry" height=20px />
			}
			@if(entry.mood == models.Mood.SAD) { 
			<image src="@routes.Assets.at("images/face-sad-small.jpg")" alt="sad" height=20px />
			}
			@if(entry.mood == models.Mood.NORMAL) { 
			<image src="@routes.Assets.at("images/face-neutral-small.jpg")" alt="normal" height=20px />
			}
			@if(entry.mood == models.Mood.HAPPY) { 
			<image src="@routes.Assets.at("images/face-happy-small.jpg")" alt="happy" height=20px />
			}
			at @entry.timestampLocalStr(blog.getTimeZone())	@entry.notes
			</p>
		}
	}

	</article>
	
	<aside>
	<p>
	<a href="/blog/@blog.privateLink">blog home</a><br>
	<small>go back to the blog</small>
	</p>
	<p>
	<a href="/public/@blog.publicLink">public link</a><br>
	<small>share current mood with friends</small>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/7">history</a><br>
	<small>history of your mood</small>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/stats/7">statistics</a><br>
	<small>percentage statistics</small>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/scatter/7">time chart</a><br>
	<small>time chart</small>
	</p>
	
	
		<h3>Advertisement</h3>
		<script type="text/javascript">
		ch_fluidH = 1;
		ch_nump = "2";
		ch_client = "tlasica";
		ch_width = 200;
		ch_height = "auto";
		ch_type = "mpu";
		ch_sid = "moodblog";
		ch_color_site_link = "35A4FF";
		ch_color_title = "35A4FF";
		ch_color_border = "DFDFDF";
		ch_color_text = "353535";
		ch_color_bg = "FFFFFF";
		</script>
		<p>
		<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript"></script>
		</p>	
	
		<h3>Contact</h3>		
		<p>If you want to share any idea or problem regarding this service please use
		<a href="/feedback">feedback</a> link.
		</p>
	
	</div>

	@if(message) {
		<div id="news" class="wrapper">
		<p>@message</p>
		</div>    
	
		<script type="text/javascript">
		$('#news').delay(5000).fadeOut('slow');
		</script>
	}

	<script type="text/javascript">
	$(".MOOD_OPTION").click(function() {
		var moodName = $(this).attr("value");
		$("#HIDDEN_MOOD_INPUT").val(moodName);
		$("#moodField").val("HAPPY")
		$("#MOOD_FORM").submit();
	});
	</script>

}