@(blog: Blog, history: List[BlogEntry], moodForm:Form[BlogEntry], message:String)

@import helper._


@main {
	
	
	<div id="content" class="wrapper doc">
	
	<article>
	
		<h1>@blog.label</h1>
		<p>What is your mood now ? <small>make a short description and choose emoticon</small></p>		
		<div id="moods">
		@form(routes.Application.addStatus(blog.privateLink), 'id->"MOOD_FORM") {
			@inputText( moodForm("notes"), '_label->"Any comments (e.g. the reason) ?", 'size->63, '_showErrors->true, '_showConstraints->false )
			<input type="hidden" id="HIDDEN_MOOD_INPUT" name="CHOOSEN_MOOD" val=""/>
		}

		<a href="#" class="MOOD_OPTION" value="happy">
			<img src="@routes.Assets.at("images/face-happy.jpg")" alt="happy" width=150px />
		</a>		
		<a href="#" class="MOOD_OPTION" value="normal">
			<img src="@routes.Assets.at("images/face-neutral.jpg")" alt="normal" width=150px />
		</a>
		<a href="#" class="MOOD_OPTION" value="sad">
			<img src="@routes.Assets.at("images/face-sad.jpg")" alt="sad" width=150px />
		</a>
		<a href="#" class="MOOD_OPTION" value="angry">		
			<img src="@routes.Assets.at("images/face-angry.jpg")" alt="angry" width=150px />
		</a>
		</div>

	</article>
	
	<aside>
	<p>
	This is <a href="/blog/@blog.privateLink">a login link</a> to your blog.
	</p>
	<p>
	Share your <a href="/public/@blog.publicLink">public link</a> with friends.
	</p>
	<h3>History</h3>
		@for(entry <- history) {
			<p>
			@if(entry.mood == models.Mood.ANGRY) { 
			<image src="@routes.Assets.at("images/face-angry-small.jpg")" alt="angry" height=20px />
			}
			@if(entry.mood == models.Mood.SAD) { 
			<image src="@routes.Assets.at("images/face-sad-small.jpg")" alt="sad" height=20px />
			}
			@if(entry.mood == models.Mood.NORMAL) { 
			<image src="@routes.Assets.at("images/face-neutral-small.jpg")" alt="normal" height=20px />
			}
			@if(entry.mood == models.Mood.HAPPY) { 
			<image src="@routes.Assets.at("images/face-happy-small.jpg")" alt="happy" height=20px />
			}
			<small>@entry.timestampFormatted()</small><br>
			<small>@entry.notes</small>
			</p>
		}
	<h3>Analysis</h3>
	<ul class="points">
	<li><a href="/blog/@blog.privateLink/calendar/7">calendar</a></li>
	<li><a href="/blog/@blog.privateLink/timechart/7">time chart</a></li>
	<li><a href="/blog/@blog.privateLink/histogram/7">histogram</a></li>
	</ul>
	</aside>
	
	</div>

	@if(message) {
		<div id="news" class="wrapper">
		<p>@message</p>
		</div>    
	
		<script type="text/javascript">
		$('#news').delay(5000).fadeOut('slow');
		</script>
	}

	<script type="text/javascript">
	$(".MOOD_OPTION").click(function() {
		var moodName = $(this).attr("value");
		$("#HIDDEN_MOOD_INPUT").val(moodName);
		$("#MOOD_FORM").submit();
	});
	</script>

}