@(blog: Blog, calendar: List[CalendarEntry], period:String)

@main {

	<div id="content" class="wrapper doc">
	
	<article>
		<h1>@blog.label</h1>
		<p>See how your mood changed during last @period:</p>

		@for(day <- calendar) {
			<h3>@day.dateStr</h3>
			@for(mood <- day.moods) {
				<p class="calendarRow">
				<!-- IMAGE TODO: make a function! -->
				@if(mood.mood == models.Mood.ANGRY) { 
					<image src="@routes.Assets.at("images/face-angry-small.jpg")" height=16/>
				}
				@if(mood.mood == models.Mood.SAD) { 
					<image src="@routes.Assets.at("images/face-sad-small.jpg")" height=16/>
				}
				@if(mood.mood == models.Mood.NORMAL) { 
					<image src="@routes.Assets.at("images/face-neutral-small.jpg")" height=16/>
				}
				@if(mood.mood == models.Mood.HAPPY) { 
					<image src="@routes.Assets.at("images/face-happy-small.jpg")" height=16/>
				}
				 @mood.timeStr(blog.getTimeZone()) @if(mood.notes) {@mood.notes}
				</p>
			}
			<hr>
		}
			

	</article>
	
	<aside>
	<p>
	<a href="/blog/@blog.privateLink">HOME</a><br>
	<small>go back to the blog</small>
	</p>

	<h3>Set period</h3>
	<small>choose 7, 14, 30 or 60 days from now</small>
	<p>
	<a href="/blog/@blog.privateLink/calendar/7">a week</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/14">two weeks</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/30">one month</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/60">two months</a>
	</p>
	</aside>
	
	</div>
}