@(blog: Blog, calendar: List[CalendarEntry], period:String)

@main(showAddThis=true) {

	<div id="content" class="wrapper doc">
	
	<article>
		<h2>@blog.label</h2>
		<p>See how your mood changed during last @period:</p>

		<table>
		@for(day <- calendar) {
			<tr>
			<td>
			<h4>@day.dateStr</h4>
			</td>
			<td>			
			@for(mood <- day.moods) {
				<p class="calendarRow">
				<!-- IMAGE TODO: make a function! -->
				@if(mood.mood == models.Mood.ANGRY) { 
					<image src="@routes.Assets.at("images/face-angry-small.jpg")" height=24/>
				}
				@if(mood.mood == models.Mood.SAD) { 
					<image src="@routes.Assets.at("images/face-sad-small.jpg")" height=24/>
				}
				@if(mood.mood == models.Mood.NORMAL) { 
					<image src="@routes.Assets.at("images/face-neutral-small.jpg")" height=24/>
				}
				@if(mood.mood == models.Mood.HAPPY) { 
					<image src="@routes.Assets.at("images/face-happy-small.jpg")" height=24/>
				}
				@mood.timeStr(blog.getTimeZone()) @if(mood.notes) {@mood.notes} else {<small>no comment given</small>}
				</p>
			}
			@if(day.moods.isEmpty()){
			<small>no emotions recorded...</small>
			}
			</td>
			</tr>
		}
		</table>	

	</article>
	
	<aside>
	<p>
	<a href="/blog/@blog.privateLink">HOME</a><br>
	<small>go back to the blog</small>
	</p>

	<h3>Set period</h3>
	<small>choose 7, 14, 30 or 60 days from now</small>
	<p>
	<a href="/blog/@blog.privateLink/calendar/7">a week</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/14">two weeks</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/30">one month</a>
	</p>
	<p>
	<a href="/blog/@blog.privateLink/calendar/60">two months</a>
	</p>
	
		<h3>Advertisement</h3>
		<script type="text/javascript">
		ch_fluidH = 1;
		ch_nump = "2";
		ch_client = "tlasica";
		ch_width = 200;
		ch_height = "auto";
		ch_type = "mpu";
		ch_sid = "moodblog";
		ch_color_site_link = "35A4FF";
		ch_color_title = "35A4FF";
		ch_color_border = "DFDFDF";
		ch_color_text = "353535";
		ch_color_bg = "FFFFFF";
		</script>
		<p>
		<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript"></script>
		</p>
		
		<h3>Contact</h3>		
		<p>If you want to share any idea or problem regarding this service please use
		<a href="/feedback">feedback</a> link.
		</p>
			
	</aside>

	
	</div>
}