@main(showAddThis=true) {
	
	<div id="content" class="wrapper doc">
	
	<article>
	
		<p><i>
		One day I realized that a bit too often I feel angry or said, especially in the office.
		I'm not sure how severe the problem is and decided to track it.
		I build this service and started using it daily to record any good or bad emotions I had.
		After two or three weeks I checked the statistics and see that indeed more that 50%
		of recorded emotions were angry or sad!		
		Since then I try to improve my stats and things look a bit more green today...
		</i></p>
		<p><b>
		Record your emotions and visualize the history in different perspectives.		
		</b></p>		
		
		<h3>Record your mood</h3>
		<p>
		Record you current emotions with 1 simple click.<br>
		In addition you can provide a short (one line) description for recorded emotions.		 
		</p>
		<p>
		There are no rules when to record emotions.
		Personally I prefer to record it once when I fill angry or happy.
		But if you are using blogyourmood.com as a happiness index then maybe at the end of work (or day) is the best approach. 
		</p>		
		<img class="screenshot" src="@routes.Assets.at("images/screen-blog.jpg")" width=60% alt="blog page screenshot"/>

		<h3>Check statistics</h3>
		<p>
		Statistics view (available from the right panel) tells you what is the distribution of recorded emotions.
		It presents a nice coloured pie chart for all records in a given period of time (7,14,30 or 60 days).
		This view gives a nice information of your average mood in last week or month. 
		</p>
		<p>
		If you are using blogyourmood.com to get emotions about your idea or product the statistics feature
		gives you immediate insight what people think about it. 
		</p>
		<img class="screenshot" src="@routes.Assets.at("images/screen-stats.jpg")" width=60% alt="statistics screenshot"/>

		<h3>Time chart</h3>
		<p>
		Time Chart shows how do you feel in different parts of the day.
		It presents distribution of emotions recorded in some period of time (7,14,30 or 60 days)
		between day hours.
		</p>
		<p>
		This feature is especially important if you use blogyourmood.com as a personal happiness index.
		</p>
		<img class="screenshot" src="@routes.Assets.at("images/screen-scatter.jpg")" width=60% alt="timechart screenshot"/>

		<h3>The history</h3>
		<p>
		In addition to statistics or time chart views blogyourmood.com offers a history view.
		It will show you all the recorded moods (with their description) organized day by day.
		This list may be very long - you can choose a period of 7, 14, 30 or 60 days.
		</p>
		<p>
		The history view is usefull if you use blogyourmood.com to gather other people's feeling about your idea or product.
		</p>
		<img class="screenshot" src="@routes.Assets.at("images/screen-calendar.jpg")" width=60% alt="calendar screenshot"/>
		
	</article>
	
	<aside>
		<h3>How to start</h3>
		<ul class = "points">
		<li>It is free</li>
		<li>It is anonymous</li>
		<li>no registration</li>		
		<li>no email</li>		
		</ul>
		<p>
		<nav>
		<a href="/register" class="button">I want to start</a>
		</nav>
		</p>
		<h3>Demo</h3>
		<p>
		Try our <a href="/demo">demo blog</a>.
		</p>
		
		<script type="text/javascript">
		ch_fluidH = 1;
		ch_nump = "5";
		ch_client = "tlasica";
		ch_width = 200;
		ch_height = "auto";
		ch_type = "mpu";
		ch_sid = "moodblog";
		ch_color_site_link = "0000CC";
		ch_color_title = "0000CC";
		ch_color_border = "DFDFDF";
		ch_color_text = "000000";
		ch_color_bg = "FFFFFF";
		</script>
		<p>
		<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript">
		</script>
		</p>
		
	</aside>

	</div>
}