@main(showAddThis=true) {
	
	<div id="content" class="wrapper doc">
	
	<article>
	
		<h1>Main Concept</h1>
		<p>
		I suspected that a bit too often I feel angry or said, especially in the office.<br>
		I wanted to track my emotions.
		</p>
		<p>
		This simple and lightweight service allows you to record your emotions 
		and check how it changed during last weeks or months.<br>		
		</p>
		
		<h2>Record your mood</h2>
		<p>
		Record you current emotions with 1 simple click.<br>
		I learned that it is very useful to record a brief explanation with my mood. 
		</p>
		<img src="@routes.Assets.at("images/screen-blog.jpg")" width=100%/>

		<h2>Check statistics</h2>
		<p>
		It is very interesting to check, how ofter do you smile or make an angry face.
		Statistics can show you such information for given period of 7,14,30 or 30 days.
		</p>
		<img src="@routes.Assets.at("images/screen-stats.jpg")" width=100%/>

		<h2>Show the history</h2>
		<p>
		Recorded information can be also presented in calendar view for 7, 14, 30 or 60 days.
		</p>
		<img src="@routes.Assets.at("images/screen-calendar.jpg")" width=100%/>

		<h2>Make it public</h2>
		<p>
		With public link feature you can easily share your current mood to your friends or your boss :-)
		A person using this link can see your recent emotions.		
		</p>
		<img src="@routes.Assets.at("images/screen-public.jpg")" width=100%/>
		
	</article>
	
	<aside>
		<h3>How to start</h3>
		<ul class = "points">
		<li>It is free</li>
		<li>It is anonymous</li>
		<li>Email is not required</li>		
		</ul>
		<p>
		<nav>
		<a href="/register" class="button">I want to start</a>
		</nav>
		</p>
		<h3>Demo</h3>
		Try our <a href="/demo">demo blog</a>. 

	</aside>

	</div>
}