@main(showAddThis=true) {
	
	<div id="content" class="wrapper doc">
	
	<article>
	
		<p><i>
		One day I realized that a bit too often I feel angry or said, especially in the office.
		I'm not sure how severe the problem is and decided to track it.
		I build this service and started using it daily to record any good or bad emotions I had.
		After two or three weeks I checked the statistics and see that indeed more that 50%
		of recorded emotions were angry or sad!		
		Since then I try to improve my stats and things look a bit more green today...
		</i></p>
		<p>
		This simple service allows you to record your emotions 
		and check how it changed.		
		</p>
		<p>
		It can be used individually, as a personal emotions blog, or in a team to record team happiness index.
		</p>
		
		
		<h3>Record your mood</h3>
		<p>
		Record you current emotions with 1 simple click.<br>
		I learned that it is very useful to record a brief explanation with my mood. 
		</p>
		<img src="@routes.Assets.at("images/screen-blog.jpg")" width=100%/>

		<h3>Check statistics</h3>
		<p>
		It is very interesting to check, how ofter do you smile or make an angry face.
		Statistics can show you such information for given period of 7,14,30 or 30 days.
		</p>
		<img src="@routes.Assets.at("images/screen-stats.jpg")" width=100%/>

		<h3>Show the history</h3>
		<p>
		Recorded information can be also presented in calendar view for 7, 14, 30 or 60 days.
		</p>
		<img src="@routes.Assets.at("images/screen-calendar.jpg")" width=100%/>

		<h3>Make it public</h3>
		<p>
		With public link feature you can easily share your current mood to your friends or your boss :-)
		A person using this link can see your recent emotions.		
		</p>
		<img src="@routes.Assets.at("images/screen-public.jpg")" width=100%/>
		
	</article>
	
	<aside>
		<h3>How to start</h3>
		<ul class = "points">
		<li>It is free</li>
		<li>It is anonymous</li>
		<li>no registration</li>		
		<li>no email</li>		
		</ul>
		<p>
		<nav>
		<a href="/register" class="button">I want to start</a>
		</nav>
		</p>
		<h3>Demo</h3>
		Try our <a href="/demo">demo blog</a>. 

	</aside>

	</div>
}