@(message: String)

@main("mymood.com") {

	<section id="top">
    	<div class="wrapper">
    	<figure>
		<img class="TextWrapLeft" src="@routes.Assets.at("images/puzzel.jpg")" height=50px/>
		</figure>
        <h1><a href="http://mymood.com">MYMOOD.COM</a></h1>
    	</div>
	</section>
	
	<!--
	<div id="news">
    <iframe src="http://www.playframework.org/widget?uid=280951424d43c3d11724441d4d1f275443673294&version=2.0.1&tag=JAVA" scrolling="no" style="overflow: hidden; display: block; margin: 0 auto; width: 960px; height: 60px"></iframe>
	</div>    
	-->

	<div id="content" class="wrapper doc">
	
	<article>
	
		<h1>Record your mood</h1>
		<p>
		Record your current mood at any time by using one of the emoticons:
		</p>
		<p>
		<img src="@routes.Assets.at("images/face-happy.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-neutral.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-said.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-angry.jpg")" width=150/>
		</p>
		
		<h1>Then analyze it</h1>
		<p>
		Take a look how your mood changed over last weeks or days.<br>
		Analyze various histograms and charts (<a href="/examples">see examples</a>).<br>
		Make conclusions.		
		</p>
		
	
	</article>
	<aside>
		<h3>How to start</h3>
		<ul class = "points">
		<li>It is free</li>
		<li>It is anonymous</li>
		<li>Email not required</li>		
		</ul>
		<p>
		<nav>
		<a href="/register" class="button">I want to start</a>
		</nav>
		</p>

	</aside>

	</div>
}