@(message: String)

@main(showAddThis=true) {
	
	<!--
	<div id="news">
    <iframe src="http://www.playframework.org/widget?uid=280951424d43c3d11724441d4d1f275443673294&version=2.0.1&tag=JAVA" scrolling="no" style="overflow: hidden; display: block; margin: 0 auto; width: 960px; height: 60px"></iframe>
	</div>    
	-->

	<div id="content" class="wrapper doc">
	
	<article>
	
		<h2>Record your emotions</h2>
		<p>
		Record your current emotions at any time by using one of the smileys:
		</p>
		<p>
		<img src="@routes.Assets.at("images/face-happy.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-neutral.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-sad.jpg")" width=150/>
		<image src="@routes.Assets.at("images/face-angry.jpg")" width=150/>
		</p>
		<p>
		Great tool for online happiness index of your team
		or your personal mood blog.
		<br>
		If you want to know more read about the <a href="/features">features</a>
		or try shared <a href="/demo">demo blog</a>
		</p>

				
		<h2>Start your blog</h2>
		<p>
		This service is completely free. Registration is not required.<br>
		You name the blog and we give you a unique link. That's all.
		</p>
		<p>
		<nav>
		<a href="/register" class="button">Go and create my blog !</a>
		</nav>
		</p>
		
		<h2 id="reasons">4 reasons to use this tool</h2>
		<p>
		Simplicity does not exclude flexibility: blogyourmood.com helps in several different ways. 
		Read more about 4 most common usage patterns. 
		<p>
		
		<h3>Personal happiness index</h3>
		<p>
		Recording personal emotions gives several benefits. 
		First of all by naming and describing bad emotions we magically lower their impact on us.
		On the other hand in the same way we increase the impact of good emotions.
		</p>
		<p>
		Start personal mood blog and record the emotions when you feel them.
		After several weeks you can analyze your mood with time chart and see how often do you feel angry in the office or happy when playing with your kids.
		This tool gives you a chance to observe yourself.
		</p>
		
		<h3>A Team Mood Board</h3>
		<p>
		Recent research on Motivation (e.g. <a href="http://www.danpink.com/">work of Daniel H. Pink</a>) show that happy people are much more productive at work.
		With blogyourmood.com it is easy to create an online "niko-niko" calendar for your team and measure team happiness.
		</p>
		<p>
		Create blog for your idea or product and share link to it with people in your team.
		Ask them to record the day when they are leaving.
		Then check statistics view for general impression or history for detailed information.
		</p>
		<p>
		Read what Jeff Sutherland, a co-author of Scrum wrote <a href="http://scrum.jeffsutherland.com/2010/11/happiness-metric-wave-of-future.html">about team happiness metric</a>.
		</p>
		
		<h3>Organization Insight</h3>
		<p>
		In most of the organization people do not communicate what makes them angry or sad at work.
		There are small problems which may ruin your team productivity and can be easily removed.
		For example having only one coffee machine for large office or dirty office rooms.
		Sometimes people will tell you about if you ask them directly, but most of the managers do not ask.
		With blogyourmood.com you can create an online place to share such problems and impediments.
		</p>
		<p>
		Create a mood blog and share link to it within the organization.
		Use history view to detect reported problems, impediments and needs. 
		</p>
		
		<h3>Emotions on your idea or product</h3>
		<p>
		If you have an idea it is nice to get know what people think about it. 
		Some of them will love it, some will feel angry or sad.
		With blogyourmood.com you can gather their emotions online in a clear and elegant way.		
		</p> 
		<p>
		Create blog for your idea or product and share link to it with people you would like to ask for the opinion.
		Then check statistics view for general impression or history for detailed information.
		</p>
		
		
	</article>
	
	<aside>
		<h3>Features</h3>
		<ul class = "points">
		<li>simple!</li>
		<li>no registration required</li>
		<li>no email required</li>		
		<li>history browser </li>
		<li>statistics</li>
		<li>public view</li>		
		</ul>
		<a href="/features">more about features</a>		
		<h3>Contact</h3>
		
		<p>Please let me know any ideas or problems regarding this service.<br>
		<a href="/feedback">feedback</a>
		</p>

		<!-- Begin BidVertiser code -->
		<SCRIPT LANGUAGE="JavaScript1.1" SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=532628&bid=1329020" type="text/javascript"></SCRIPT>
		<noscript><a href="http://www.bidvertiser.com/bdv/BidVertiser/bdv_advertiser.dbm">internet advertising</a></noscript>
		<!-- End BidVertiser code -->
		 
	</aside>

	</div>
}