@(blog: Blog, lastMood: BlogEntry)

@import helper._

@main(showAddThis=false) {

<script type="text/javascript" xmlns:addthis="http://www.w3.org/1999/xhtml">$.localtime.setFormat("dd/MM HH:mm");</script>

<div class="container theme-showcase" role="main">

	<div class="page-header">
		<h2>@blog.label</h2>
		
		@if(lastMood!=null) {
		</p><p class="localtime">Recorded on @lastMood.timestampLocalStr(blog.getTimeZone())</p>
			<p>
			@if(lastMood.mood == models.Mood.ANGRY) { 
			<image src="@routes.Assets.at("images/face-angry.png")" alt="angry" height=200px />
			}
			@if(lastMood.mood == models.Mood.SAD) { 
			<image src="@routes.Assets.at("images/face-sad.png")" alt="sad" height=200px />
			}
			@if(lastMood.mood == models.Mood.NORMAL) { 
			<image src="@routes.Assets.at("images/face-neutral.png")" alt="normal" height=200px />
			}
			@if(lastMood.mood == models.Mood.HAPPY) { 
			<image src="@routes.Assets.at("images/face-happy.png")" alt="happy" height=200px />
			}
			</p>
			<p>@lastMood.notes</p>

		}

	</div>
	
	<div class="container">
		<h2>Share this public link</h2>

		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right; width:250px; margin-top:7px;" addthis:url="http://blogyourmood.com/pub/@blog.publicLink">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a> 
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_compact"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50774bc8329599d4"></script>
		<!-- AddThis Button END -->

		<div class="alert alert-info" role="alert">
			<p>
			Shared public links are <strong>safe</strong>, as they allow only to see this one page and does not allow to not change the content of the blog.
			</p>
			<p><small>This page is not refreshing automatically</small></p>
		</div>



	</div>

	</div>
}