@(blog: Blog, lastMood: BlogEntry)

@import helper._

@main(showAddThis=false) {
	
	<script type="text/javascript">$.localtime.setFormat("dd/MM HH:mm");</script>
	
	<div id="content" class="wrapper doc">
	
	<article>
		
		<h2>@blog.label</h2>
		
		@if(lastMood!=null) {
			@if(lastMood.mood == models.Mood.ANGRY) { 
			<image src="@routes.Assets.at("images/face-angry.jpg")" alt="angry" height=200px />
			}
			@if(lastMood.mood == models.Mood.SAD) { 
			<image src="@routes.Assets.at("images/face-sad.jpg")" alt="sad" height=200px />
			}
			@if(lastMood.mood == models.Mood.NORMAL) { 
			<image src="@routes.Assets.at("images/face-neutral.jpg")" alt="normal" height=200px />
			}
			@if(lastMood.mood == models.Mood.HAPPY) { 
			<image src="@routes.Assets.at("images/face-happy.jpg")" alt="happy" height=200px />
			}
			<p class="localtime">@lastMood.timestampLocalStr(blog.getTimeZone())</p>
			<p>@lastMood.notes</p>
			
			<p>
			<small>(this page is not refreshing automatically)</small>
			</p>
		}		

	</article>
	
	<aside>
		<h3>Share it!</h3>
		<p>	Let your friends now your mood</p>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="float:right; width:250px; margin-top:7px;">
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a> 
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_compact"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50774bc8329599d4"></script>
		<!-- AddThis Button END -->
		<p>
		<small>Shared public links are safe, as they allow only to see this one page and doeas not allow to not change the content of the blog</small>
		</p>

		<h3>Advertisement</h3>
		<script type="text/javascript">
		ch_fluidH = 1;
		ch_nump = "2";
		ch_client = "tlasica";
		ch_width = 200;
		ch_height = "auto";
		ch_type = "mpu";
		ch_sid = "moodblog";
		ch_color_site_link = "35A4FF";
		ch_color_title = "35A4FF";
		ch_color_border = "DFDFDF";
		ch_color_text = "353535";
		ch_color_bg = "FFFFFF";
		</script>
		<p>
		<script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript"></script>
		</p>	
	
		<h3>Contact</h3>		
		<p>If you want to share any idea or problem regarding this service please use
		<a href="/feedback">feedback</a> link.
		</p>
		
	</aside>

}