@(blogCreateForm: Form[Blog])

@import helper._

@main {

	<div id="content" class="wrapper doc">
	
	<article>
	
		<h1>Create new mood blog</h1>
		<p>
		All you have to do is to provide a label for your blog and click the button.
		</p>
		<p>
		After creation you will get a <b>login link</b>.<br>
		<p>
		@form(routes.Registration.createBlog(), 'id->"registerForm") {
			@inputText( blogCreateForm("label"), '_label->"Please label your blog", 'size->30, '_showErrors->true, '_showConstraints->false )
			<input type="submit" value="Create new blog" class="button">
		}
		</p>
	
	</article>
	
	<aside>
		<h3>Login link</h3>
		<p>
		Instead of using login or email we give you a link.
		This link is unique and gives acces to your blog.
		</p>
		<p>
		After yu create the blog please save your link in some convenient place e.g. in your browser.
		</p>		
		<p class="importantParagraph">		
		Do not forget to save it !
		</p>
	
	</aside>
	
	</div>
}