@(blogCreateForm: Form[Blog])

@import helper._

@main {

	<div id="content" class="wrapper doc">
	
	<article>
	
		<h1>Create new mood blog</h1>
		<p>
		All you have to do is to provide a label for your blog.
		</p>
		<p>
		After creation you get 2 links:
		<ul class = "points">
		<li> <i>private</i> for you
		<li> <i>public</i> to share with your friends or co-workers
		</ul>
		</p>
		<p>
		@form(routes.Application.createBlog(), 'id->"registerForm") {
			@inputText( blogCreateForm("label"), '_label->"Please label your blog", 'size->30, '_showErrors->true, '_showConstraints->false )
			<input type="submit" value="Create new blog" class="button">
		}
		</p>
	

	</article>

	<aside>
		<h3>private link</h3>
		<p>
		<i>private link</i> it is used to login to your blog
		and enables you to register your mood.
		</p>
		<h3>public link</h3>
		<p><i>public link</i> is used to share your mood blog.
		It does not allow to make any changes in your blog.
		</p>
	</aside>
	
	</div>
}