@(blog: Blog)

@import helper._

@main(showAddThis=false) {

<div class="container theme-showcase" role="main">

		<h1>@blog.label</h1>
		<p>Thank you. Your mood blog has been created.
		<br>
		<small>(we have created it with timezone @blog.timezone)</small>
		</p>

		<h2>Login link</h2>

		<div class="alert alert-info" role="alert">
			Instead of using login or email we give you a link.
			This link is unique and gives access to your blog.
			<br>
			After yu create the blog please <strong>save your link</strong> in some convenient place e.g. in your browser.
		</div>


		<p>
		<a class="btn btn-lg btn-link" href="/blog/@blog.privateLink">
		http://blogyourmood.com/blog/@blog.privateLink
		</a></p>

		<h2>How can I save my login link ?</h2>
		<p>
		Before you proceed to your blog please save your login link.
		You can do this by:
		<ul>
		<li>sending an email with it to yourself
		<li>bookmarking the link in your browser
		<li>saving the link in delicious, evernote, heapnote or any other Internet service
		</ul>
		</p>
		<br>
		<p>
			<a class="btn btn-lg btn-info" href="/blog/@blog.privateLink">continue, go to my blog</a>
		</p>
	</div>
}